  <table align="center" >
  <tr> <td>
  <%= f.label :password %></td><td>
  <%= f.password_field :password %>
  <br/>
  </td></tr>

  <tr> <td>
  <%= f.label :password_confirmation %></td><td>
  <%= f.password_field :password_confirmation %>
  </td></tr>
  <br/>
  <tr><td colspan="2"><%= f.submit "Update my password and log me in" %></td></tr>
</table>