!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Local Search Made Wonderful
    %link{ :href => "/stylesheets/stylesheet.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/reset.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/960.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/text.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.select.js" }
    
  %body
    .container_12
      .grid_8{ :style => "border: 1px solid blue; width: 545px; height: 307px; text-align: left; overflow: hidden;" }
        .grid_4
          %h2{ :style => "margin: 10px 26px 15px 10px;"}
            Add Image
        .grid_1{ :style => "text-align: right; float: right;"}
          = image_tag("/images/exitBtn.jpg", :height => "40")
        %br
        %br
        %br
      
        .grid_4{ :style => "margin-left: 20px; float: left; height: 400px: border: 2px solid green;"}
          %span{ :style => "color:#1B75BC; font-size: 15px;" }
            video
          %br
          - form_for(@video, :html => {:multipart => true}) do |f|
            = f.error_messages
            
            %p 
              = f.label :title, "title"
              %br
              = f.text_field :title
            %p 
              = f.label :video, "video"
              %br
              = f.file_field :video
              /= image_submit_tag("/images/submit.jpg", :onclick =>"opener.location='<%= url_for :controller =>'videos',:action => 'create'%>';window.close();",:height => "30", :style => "margin-right: 36px;")
              %input{:type => "button", :src => "/images/submit.jpg", :value => "Submit", :height => "35",:onclick =>"opener.location='<%= url_for :controller =>'videos',:action => 'create'%>';window.close();" }
              /%input {:type=> "button",:value => "submit",:onclick => "window.close();"}
        .grid_1{ :style => "text-align:right; padding-left: 0px; padding-top: 15px; width: 75px; float: left;"}
          /%img{ :src => "/images/browseBtn.jpg", :height => "34", :style => "margin-bottom: 60px;"}
          /%img{ :src => "/images/browseBtn.jpg", :height => "34", :style => "margin-bottom: 40px;"}
          
          

          
          
          
          
          