.search
  - form_tag deals_path, :method => :get do 
          
    = text_field_tag :search, params[:search],:class => 'text' 
    = image_submit_tag '/images/search_hq.jpg',:class => 'search_button'

= render :partial => '/welcome/mainNav_card'
= render :partial=>'haml/banner_ads'


.grid_12
  .grid_8
    %span{ :style => "color: #57B6DD"}
      %p
        = @deals.size.to_s+ ' ' +'Search Results found!' 
  .grid_2
    %span{ :style => "color: #BED639"}
      %p
        Sort By:
.grid_12
  .searchLeftSide
    #searchWindow
      #searchContent
        = render :partial => 'haml/card_search_example'
    .grid_4{ :style => "float:right; text-align:right; margin-top: 10px; margin-bottom: 10px;"}    
      - if @deal_flag == true 
        = will_paginate @deals
    
    /BOF RIGHT SIDE
  .searchRightSide
    .inner{:style => "text-align:left;"}
      .sortOptions
        %ul
          %li.sortSelected
            = link_to ("card ranking",:controller => :deals,:action=> :index,:search => params[:search],:sort => :rank)
            %br
          %li
            = link_to ("distance",:controller => :deals,:action=> :index,:search => params[:search],:sort => :title)
            %br
          %li
            = link_to ("most recent",:controller => :deals,:action=> :index,:search => params[:search],:sort => :updated_at)
            %br
    = render :partial => 'haml/motion_scroll_bar'
.clear
.grid_12
  %img{ :src => "/images/dropShadow.jpg", :alt => ""}
