.box_wrp
  .box_top
  .box_mid
    .inner{ :style => "height: 90px;"}
      .grid_6{ :style => "text-align: left; margin-right: 0px; width: 400px;float:left"}
        #fileProgress{ :style =>"border: black 1px solid; width:300px; height:40px;float:left"}
          #fileName{ :style=>"text-align:center; margin:5px; font-size:15px; width:290px; height:25px; overflow:hidden"}
            #progressBar{:style=>"width:300px;height:5px;background-color:#CCCCCC"}
        #uploaderUI{ :style=>"width:121px;height:29px;margin-left:5px;float:left"}
        .uploadButton{ :style=>"width:121px;height:29px;margin-left:5px;float:left"}
          
          = submit_to_remote "Add","Add",:url=>{:controller=>'prices',:action=>'create_price',:item=>params[:item],:id=>@org.id,:description=>params[:description],:price=>params[:price],:tab_id=>params[:tab_id],:main_tab=>@tab.id},:update=>'searchContent',:success=>"upload(#{@org.id},#{@tab.id},#{form_authenticity_token.inspect},0); return false;" ,:style=>"width:121px;height:29px;margin-left:5px;float:left",:href=>"#"    
        .grid_1{ :style => "margin-left: 0px; float: right; text-align: right;"}
          = link_to_remote image_tag('/images/exitBtn.jpg',:height=>'40'),:url => {:controller => 'prices',:action => 'close'},:update=>'title'
  .box_bot   
 

