%p
  = f.label :group, "group"
  %br
  = f.text_field :group

%p
  = f.label :title, "name"
  %br
  = f.text_field :title

%p
  = f.label :name, "price"
  %br
  = f.text_field :price

%p
  = f.label :description, "description"
  %br
  = f.text_field :description
