/
  BOF EXAMPLE
#container1.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE

/
  BOF EXAMPLE
#container2.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE

/
  BOF EXAMPLE
#container3.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE
    
/
  BOF EXAMPLE
#container4.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE

/
  BOF EXAMPLE
#container5.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE
    
/
  BOF EXAMPLE
#container6.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE
    
/
  BOF EXAMPLE
#container7.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE

/
  BOF EXAMPLE
#container8.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE
    
/
  BOF EXAMPLE
#container9.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE
    
/
  BOF EXAMPLE
#container10.thumbContainer
  .searchResult
    .grid_2{:style => "margin: 0;"}
      = link_to image_tag('/images/resultsImage1.jpg'), :action => 'show', :id =>1
    .grid_6{:style => "width: 430px;"}
      .grid_3{:style => "margin: 0; text-align: left;"}
        %h2
          %a{ :href => "#image1"}
            Sphagetti World
        %br
        Cranford
        %br
        %h6
          Italian, Restaurant, Pizza
      .titleAndTown
        5 Reviews
        %img{ :src => "/images/stars-big.gif", :width => "90" }
        %br
        .cardRankNumBusinessSearch
          %img{ :src => "/images/cardRank.jpg", :height => "30" }
          54
    %br
    .businessSearchResultText
      %p
        Founded in 1963 by big Poppa Wallace when he came to America.
        Spanghetti World has been America's first ever all-Italian cuisine for
        everyone to
  /
    EOF EXAMPLE