%link{ :href => "/stylesheets/vtip.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
%script{ :type => "text/javascript", :src => "/javascripts/vtip.js" }



- @deals.each do |deal|  

  .searchResult
    .grid_2{ :onclick => "window.open('mylink.htm','_self')", :style => "cursor: pointer;" }
      .roundedcornr_box_668958
        .roundedcornr_top_668958
          %div
        .roundedcornr_content_668958{ :style => "height: 80px;"}
          .deal
            =deal.deal_value
            =deal.deal_type
          
        .roundedcornr_bottom_668958
          %div
    .grid_3{ :style => "text-align: left;"}
      %p
        %h3
          = deal.title
        %br
        %span{ :style => "color:#57B6DD;"}
          = deal.description
        %br
        %h8
          = deal.disclaimers_text_flat
          %br
        
        
    .titleAndTown
      %h7

      %br
      Cranford
    %br
    %br
    %br
    %br
    .cardRankingandVote
      #hqCardSearchContent[deal]
        - if current_user
          = link_to_remote image_tag("/images/voteUp.jpg"),:url=>{:controller=>'haml',:action=>'hqcard_search_deal_voteup',:id=>deal.id},:update=>'hqCardSearchContent_deal_' + deal.id.to_s
          = link_to_remote image_tag("/images/voteDown.jpg"),:url=>{:controller=>'haml',:action=>'hqcard_search_deal_votedown',:id=>deal.id},:update=>'hqCardSearchContent_deal_' + deal.id.to_s
        - else
          =link_to image_tag('/images/voteUp.jpg') ,{:controller =>'user_sessions',:action =>'new'},:href=>"#",:title=>"You should be logged in to perform this action",:class=>"vtip"
        
          =link_to image_tag('/images/voteDown.jpg') ,{:controller =>'user_sessions',:action =>'new'},:href=>"#",:title=>"You should be logged in to perform this action",:class=>"vtip"
        %img{ :src => "/images/cardRank.jpg", :height => "40" }
          .cardRankNum{ :style => "display: inline;"}
            = deal.rank




