!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Local Search Made Wonderful
    %link{ :href => "/stylesheets/stylesheet.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/reset.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/960.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/text.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/dw_activate.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/dw_event.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/dw_scroll.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/html_att_ev.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corner.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corners.inner_outer.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/manageNav.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/move_up_down.js" }
    =javascript_include_tag :defaults






/ bof LEFT SIDE
.grid_7{ :style => "border-bottom: 2px solid #BED538; margin: 0;"}
  %h2
    Manage My HQ Card Deals
%br
%br
.box_wrp
  .box_top
  .box_mid
    .inner{ :style => "text-align: left;"}
      .grid_2
        .stepsMarker
          1
        %br
        %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
          \&nbsp; deal:
        = radio_button("deal", "deal_type", "free")
        Free
        %br
    
        = radio_button("deal", "deal_type", "$", options = {:onclick => "Element.show('pDollar'); Element.hide('pPercent');"})  
        \$ Off    
        %br   
        = radio_button("deal", "deal_type", "%", options = {:onclick => "Element.show('pPercent'); Element.hide('pDollar');"})
        \% Off        
        %br
        = f.text_area :deal_value,{ :rows => "1", :cols => "3", :style => "height: 20px; width: 45px;"}
        #pDollar{ :style => "display:none" }
          \$
        #pPercent{ :style => "display:none" }
          \%
   
  
    .grid_4
      .stepsMarker
        2
      %br
      %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
        \&nbsp; what:
      \&nbsp;&nbsp;&nbsp;
      = f.text_field :title, :size => 20
      
      %br
      %span{ :style => "color:#c00; float:right; margin-top:4px; font-size: 10px" }
        max. 20 characters
      %br
      %br
      %br    
  
    .grid_6
      .stepsMarker{ :style => "height:50px" }
        3
      %br
      %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
        \&nbsp; description:
      \&nbsp;&nbsp;&nbsp;
      = f.text_field :description, :size => 30

      %span{ :style => "color:#c00; float:right; font-size: 10px" }
        max. 150 characters
  
    .grid_7{ :style => "float:left; width: 495px;" }
      .stepsMarker
        4
      %br
      %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
        \&nbsp; disclaimers:
      .disclaimerText
        - for disclaimer in Disclaimer.all 
          = check_box_tag 'deal[disclaimer_ids][]', disclaimer.id, @deal.disclaimers.include?(disclaimer)
          = disclaimer.name
          %br
          = hidden_field_tag 'order[disclaimer_ids][]', ''
        .clear
      %br
      .grid_2{ :style => "float:left"}
        = f.file_field :photo
        - unless @deal.new_record? || !@deal.photo? 
          = image_tag @deal.photo.url(:small), :alt => 'Photo', :title => 'Current photo'
      %br
      %br
      .grid_4{ :style => "float:left;align:right;"}
        = submit_to_remote image_tag("/images/add.jpg"),"Add",:url=>{:controller=>'haml',:action=>'create_deal',:id => org.id},:update=>'admin_left'
    .clear

  .box_bot
.clear

%br
%br
= render :partial => 'motion_scroll_bar'

#searchWindow{ :style => "width: 495px"}
  #searchContent         
    = render :partial => 'haml/manage_hq_card_example',:locals => {:org => org}
    
.clear


