/ bof LEFT SIDE
.grid_7{ :style => "border-bottom: 2px solid #BED538; margin: 0;"}
  %h2
    Manage My HQ Card Deals
%br
%br
.box_wrp
  .box_top
  .box_mid
    .inner{ :style => "text-align: left;"}
      .grid_2
        .stepsMarker
          1
        %br
        %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
          \&nbsp; deal:
        = radio_button("deal", "deal_type", "Free")
        Free
        %br
    
        = radio_button("deal", "deal_type", "$", options = {:id => 'deal_type_dollar', :onclick => "Element.show('pDollar'); Element.hide('pPercent');"})  
        \$ Off    
        %br   
        = radio_button("deal", "deal_type", "%", options = {:id => 'deal_type_percentage', :onclick => "Element.show('pPercent'); Element.hide('pDollar');"})
        \% Off        
        %br
        = f.text_area :deal_value,{ :rows => "1", :cols => "3", :style => "height: 20px; width: 45px;"}
        #pDollar{ :style => "display:none" }
          \$
        #pPercent{ :style => "display:none" }
          \%
   
  
    .grid_4
      .stepsMarker
        2
      %br
      %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
        \&nbsp; what:
      \&nbsp;&nbsp;&nbsp;
      = f.text_field :title, :size => 20
      
      %br
      %span{ :style => "color:#c00; float:right; margin-top:4px; font-size: 10px" }
        max. 20 characters
      %br
      %br
      %br    
  
    .grid_6
      .stepsMarker{ :style => "height:50px" }
        3
      %br
      %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
        \&nbsp; description:
      \&nbsp;&nbsp;&nbsp;
      = f.text_field :description, :size => 30

      %span{ :style => "color:#c00; float:right; font-size: 10px" }
        max. 150 characters
  
    .grid_7{ :style => "float:left; width: 495px;" }
      .stepsMarker
        4
      %br
      %h6{ :style => "margin-top: 6px; margin-bottom: 5px;" }
        \&nbsp; disclaimers:
      .disclaimerText
        .grid_3{:style=>"margin-left:0px; margin-right:0px;"}
          - for disclaimer in Disclaimer.all 
            = check_box_tag 'deal[disclaimer_ids][]', disclaimer.id, @deal.disclaimers.include?(disclaimer),{:id=>"deal_disclaimer_#{disclaimer.id}"}
            = disclaimer.name
            %br
           
          .clear
        %br
        %br
    .grid_2{ :style => "float:left"}
       
      #fileProgress{ :style =>"border: black 1px solid; width:300px; height:40px;float:left"}
        #fileName{ :style=>"text-align:center; margin:5px; font-size:15px; width:290px; height:25px; overflow:hidden"}
        
      #uploaderUI{ :style=>"width:100px;height:40px;margin-left:5px;float:left"}
      .uploadButton_add{ :style=>"float:left"}
        /= link_to '', nil,:class=>"rolloverButton", :href=>"#",  :onclick=>"upload(#{org.id},'',#{form_authenticity_token.inspect},1); return false;"
        = submit_to_remote image_tag("/images/add.jpg"),"Add", :url=>{:controller=>'haml',:action=>'create_deal',:id=>org.id},:update=>'admin_left',:success=>"upload(#{org.id},'','',1); return false;",:complete =>'upload_file()'
    %br
    %br
      .grid_4{ :style => "float:left;align:right;"}
        /= submit_to_remote image_tag("/images/add.jpg"),"Add",:url=>{:controller=>'haml',:action=>'create_deal',:id => org.id},:update=>'admin_left',:success=>"upload('','','',1); return false;"
        /= image_tag
      .clear
  .box_bot
.clear

%br
%br
= render :partial => 'motion_scroll_bar'

#searchWindow{ :style => "width: 495px"}
  #searchContent
    = render :partial => 'haml/manage_hq_card_example',:locals => {:org => org}
    
.clear


