.grid_7{ :style => "border-bottom: 2px solid #BED538; margin: 0;"}
  %h2
    Your Menu
%br
%br
.grid_7{ :style => "background-image: url(/images/bgNav.jpg); background-repeat: no-repeat; height: 25px; margin: 0;" }
  .navbar{ :style => "margin-left: 10px;"}
    %ul
      .selected
        %li
          %a{ :href => "#" }
            Jewelry
      %li
        %a{ :href => "#" }
          Tools
        .blueArrow
          %img.manage_btn{ :src => "/images/blueArrow.jpg", :alt => "Options", :style => "cursor:pointer;", :width => "25" }
        .manageNavPriceDescription
          .grid_2
            %img.moveLeft{ :src => "/images/leftArrow.jpg", :height => "25" }
            %img.moveRight{ :src => "/images/rightArrow.jpg", :height => "25" }
            %img.deleteTab{ :src => "/images/removeBtnBlue.jpg", :height => "25" }
            %br
            move &nbsp;&nbsp;&nbsp; delete
      %li
        %a{ :href => "#" }
          Beads
        .blueArrow
          %img.manage_btn{ :src => "/images/blueArrow.jpg", :alt => "Options", :style => "cursor:pointer;", :width => "25" }
        .manageNavPriceDescription
          .grid_2
            %img.moveLeft{ :src => "/images/leftArrow.jpg", :height => "25" }
            %img.moveRight{ :src => "/images/rightArrow.jpg", :height => "25" }
            %img.deleteTab{ :src => "/images/removeBtnBlue.jpg", :height => "25" }
            %br
            move &nbsp;&nbsp;&nbsp; delete
    .grid_3{ :style => "text-align: right; width: 150px; float:right;"}
      %a{ :href => "#", :style => "text-decoration: none; vertical-align: super;" }
        Add a New Tab &nbsp;
      %img{ :src => "/images/addBtnGradient.jpg", :alt => "Add", :height => "25", :style => "float: left;", :onclick => "window.open('mylink.htm','_self')", :style => "cursor: pointer;" }
%br
%br

= render :partial => 'myHQpage_admin_price_description_default'

= render :partial => 'myHQpage_admin_price_description_new_tab'

= render :partial => 'myHQpage_admin_price_description_add_title'

    
    

= render :partial => 'motion_scroll_bar'
#searchWindow{ :style => "width: 495px; height: 350px; float: left;"}
  #searchContent{ :style => "text-align: left; margin-left: 15px;"}
    = render :partial => 'myHQadmin_price_description_example'
    = render :partial => 'myHQadmin_price_description_example'
    #priceDescriptionItem
      .priceDescriptionTitle
        From China
      %img{ :src => "/images/voteUp.jpg", :height => "30"}
      %img{ :src => "/images/voteDown.jpg", :height => "30"}
      %img{ :src => "/images/removeWhite.jpg", :height => "30"}
    = render :partial => 'myHQadmin_price_description_example'
    = render :partial => 'myHQadmin_price_description_example'
    = render :partial => 'myHQadmin_price_description_example'
    = render :partial => 'myHQadmin_price_description_example'
    = render :partial => 'myHQadmin_price_description_example'
    = render :partial => 'myHQadmin_price_description_example'
