<tr>
	<script type = "text/javascript">
		function showTheDiv(quick_id){
			document.getElementById(quick_id).style.display = 'inline' ;
		}
		function hideTheDiv(quick_id){
			document.getElementById(quick_id).style.display = 'none' ;
		}
		
		
	</script>
	
<% for @gallery in org.galleries %> 
<li style="width:73px;">
<% for @photo in @gallery.photos%>	

	<div class = "frame" onmouseover = "showTheDiv(<%= @gallery.id %>)" onmouseout = "hideTheDiv(<%= @gallery.id %>)" style = "width:110px;" >
		<% if @photo == @gallery.photos.first %>
       <%=  link_to_remote(image_tag(@photo.image.url, :height => "60",:width => "70"),:update =>"viewer",:url => {:controller => "haml",:action => "show_photo",:id => @org.id,:gallery_id => @gallery.id}) %>
		<%end%>
	    <div id = <%= @gallery.id %>  class="img_divover">
	    	<%= link_to_remote "makedefault",:update => "thumbs",:url => {:controller => :haml,:action => :make_default,:id => org.id,:gallery_id => @gallery.id},:class => 'rollover_font' %>
	
			<%= link_to_remote "delete",:update => "thumbs",:url => {:controller => :haml,:action => :gallery_delete,:id => org.id,:gallery_id => @gallery.id},:class => 'rollover_font'	 %>
	    </div>
	    <div style="clear: both"></div>
	</div>
				  
<%end%>
</td>
<%end%>		
</tr>			  
    
