<script type="text/javascript" src="/javascripts/cropper/prototype.js"></script>
<script type="text/javascript" src="/javascripts/cropper/scriptaculous.js"></script>
<script type="text/javascript" src="/javascripts/cropper/builder.js"></script>
<script type="text/javascript" src="/javascripts/cropper/dragdrop.js"></script>
<script type="text/javascript" src="/javascripts/cropper/cropper.js"></script>
<script type="text/javascript" language="JavaScript">
function onEndCrop( coords, dimensions ) {
  $('orgs_x1' ).value = coords.x1;
  $('orgs_y1' ).value = coords.y1;
  $('orgs_width' ).value = dimensions.width;
  $('orgs_height' ).value = dimensions.height;
}

Event.observe( window, 'load', function() {
  new Cropper.Img('cropimage', {
    minWidth: 50,
    minHeight: 50,
    displayOnInit: true,
    onEndCrop: onEndCrop
  } );
} );
</script>
<% form_for :orgs, :url => {:controller => 'haml',:action => 'update_logo_upload',:id =>@org.id} do |f| %>
<div id="viewer" class="grid_7" style="margin-left: 0px;">
<div class="grid_8" style = "border: 3px solid #DEF2FA; width: 533px; height: 307px; text-align: left; overflow: hidden;">

<div class="grid_1" style = "text-align: right; float: right;">
  <%=  link_to image_tag("/images/exitBtn.jpg", :height => "35"),:controller => :haml,:action => :close,:id =>@org.id %>
</div>


<table style ="margin-left:20px; margin-top: 20px " align="center">
       <tr><td><font style="color:#1B75BC;"><h1>2 click and drag to crop your image</h1></font></td> </tr>
     <tr><td><%= image_tag @photo.image.url, :id => 'cropimage'%> </td> </tr>


    <tr><td><%= hidden_field_tag "orgs","x1" ,:id =>"orgs_x1"  %></td></tr>

<tr><td><%= hidden_field_tag 'orgs','y1',:id=>"orgs_y1" %></td></tr>


    <tr><td> <%= hidden_field_tag 'orgs','height',:id=>"orgs_height" %></td></tr>

    <tr><td> <%= hidden_field_tag 'orgs', 'width',:id=>"orgs_width" %></td></tr>

<tr><td> &nbsp </td></tr>
<tr><td>
  <%=  link_to_remote image_tag("/images/submit.jpg", :height => "30"),:update =>'viewer',:url =>{:controller => 'haml',:action => 'update_set_search_result',:id =>@org.id,:photo_id =>@photo.id},:with => "'orgs[x1]=' +encodeURIComponent( $('orgs_x1').value) + '&orgs[y1]=' +encodeURIComponent( $('orgs_y1').value) + '&orgs[height]=' +encodeURIComponent( $('orgs_height').value) + '&orgs[width]=' +encodeURIComponent( $('orgs_width').value) " %>

 </td>
</tr>
</table>
<%end%>





</div>
</div>
