!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Local Search Made Wonderful
    %link{ :href => "/stylesheets/stylesheet.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/reset.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/960.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/text.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
    %script{ :type => "text/javascript", :src => "/javascripts/dw_activate.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/dw_event.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/dw_scroll.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/html_att_ev.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corner.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corners.inner_outer.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/manageNav.js" }
    
  %body{ :onload => "init_dw_Scroll()" }
    .container_12
      
      / BOF Header Div
     
      .grid_12{ :style => "text-align:right; margin: 10px 0 0;"}
        %img{ :src => "/images/logo.jpg", :alt => "HQ Logo", :height => "30"}
     
      = render :partial => 'my_hq_page_title'

      /  EOF HeaderDiv
       
      = render :partial => 'my_hq_page_admin_nav'
 
      /  Top Section
       
      = render :partial => 'my_hq_page_admin_quick_facts'

      = render :partial => 'viewer'

      .clear
        
      /  End TopSection
       
      .clear
      .grid_7{:style =>"float:left; width: 538px;"}
      
        = render :partial => 'myHQpage_admin_price_description'


      / Right Side
      .grid_5{:style =>"float:left; zoom: 98%; text-align:left;"}
        
        = render :partial => 'my_hq_admin_static_widgets'

        = render :partial => 'myHQpage_admin_sales_calendar'

      / Footer